* {
  /* box-sizing: border-box; */
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #002F54;
  margin: 0;
  font-size: 26px;
}

/* Generator */
.Generator-container {
  background-color: #eaeaea;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #002F54;
  padding: 20px;
}

.Generator-header {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px 10px 0px 0px;
}

.Generator-body {
  flex-direction: column;
  display: flex;
  padding: 10px 10px 60px 10px;
  border-radius: 10px;
  max-height: 100vh;
}

.gen-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.gen-text>h4 {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #be7d54;
  margin: 0;
  margin-top: 10px;
}

.gen-logo {
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.inputs-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.inputs-container>input {
  display: flex;
  width: 200px;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
  margin-right: 10px;
}

.gen-button {
  display: flex;
}

.genBtn,
.downloadBtn {
  display: flex;
  color: #eaeaea;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 5px 5px 15px 5px;
  padding: 15px 25px 15px 25px;
  transition: filter .2s ease-in-out;
}

.genBtn {
  background-color: #002F54;
}

.genBtn:hover {
  background-color: #be7d54;
  color: #002F54;
}

.downloadBtn {
  background-color: #00544F;
}

.downloadBtn:hover {
  background-color: #be7d54;
  color: #002F54;
}


button:hover {
  background-color: #be7d54;
  color: #002F54;
}

.meme-container {
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.meme-container>h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;

}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.meme-img {
  display: flex;
  max-width: 550px;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
  margin-top: 10px;
}

#meme {
  margin: 0;
  padding: 0;
}

.Footer {
  display: flex;
  align-items: center;
  background-color: #002F54;
  min-height: 15vh;
  justify-content: center;
  color: white;
  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: white;
}